@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --main-bg-color: #fafafa;
  --bl-color: #272a31;
  --orange-color: #ec5242;
  --gery-color: #d3d3d3;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
}

header {
  background-color: rgba(255, 255, 255, 0);
}

nav {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
}

.top-nav {
  display: none;
}

.toggle {
  display: block;
  font-size: 30px;
  color: var(--bl-color);
  z-index: 10;
  padding: 1.2rem;
  width: 100%;
}

.open-icon {
  display: block;
  left: 1rem;
}

.close-icon {
  display: none;
}

.open-menu .open-icon {
  display: none;
}

.open-menu .close-icon {
  display: block;
  color: var(--main-bg-color);
}

.menu-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding: 2rem;
  background: rgb(39, 42, 49);
  background: linear-gradient(0deg, rgba(39, 42, 49, 1) 0%, rgba(172, 168, 168, 1) 100%);
  color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 1.5s;
  text-align: center;
}

.menu-list li,
.menu-list a {
  list-style-type: none;
  text-decoration: none;
  color: var(--main-bg-color);
  font-size: 24px;
  transition: all 0.4s ease-out;
}

.menu-list li {
  margin: 1rem;
}

.menu-list a {
  transition: all 0.4s ease-out;
}

.menu-btn {
  margin-top: 2rem;
  width: 170px;
  height: 60px;
  border: 3px solid var(--orange-color);
  background: none;
  color: var(--orange-color);
  font-size: 20px;
  transition: all 0.4s ease-out;
}

.menu-list a:hover {
  transform: scale(1.2);
  border-bottom: 2px solid var(--gery-color);
}

.menu-btn:hover {
  transform: scale(1.1);
}

.open-menu .menu-list {
  transform: translateX(0);
  z-index: 5;
}

#logo {
  display: none;
}

#logo a {
  color: #272a31;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------------first section*--------------- */

.clm1 {
  height: 100%;
  color: var(--bl-color);
  padding: 2rem 1rem;
  padding-top: 8rem;
  background:
    linear-gradient(0deg, rgb(243, 243, 243) 70%, rgba(235, 235, 235, 0.432) 100%),
    url('../images/best-bg.jpg') no-repeat top / cover;
}

#first-title {
  color: var(--orange-color);
  font-size: 24px;
  margin-bottom: 7px;
}

#scd-title {
  color: var(--orange-color);
  font-size: 42px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

#scd-title,
#first-title {
  background: url(../images/woman-teaches.jpg);
  background-size: cover;
  -webkit-text-fill-color: #fd412caf;
  -webkit-background-clip: text;
}

#description {
  border: 1px solid #fff;
  background-color: #f3f3f3;
  padding: 15px;
  margin: 1.7rem 0;
}

.clm1 h3 {
  font-size: 32px;
}

/* ----------------------CLM2-------------- */

.clm2 {
  background-color: var(--bl-color);
  color: var(--main-bg-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  padding: 1.5rem;
  margin-bottom: 20px;
}

.section-title::after {
  position: absolute;
  content: '';
  height: 3px;
  left: 50%;
  margin-top: 50px;
  width: 60px;
  transform: translate(-50%, 50%);
  background-color: var(--orange-color);
}

.services {
  width: 100%;
  min-height: 100px;
  background-color: rgba(226, 226, 226, 0.151);
  margin: 1rem 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services h4 {
  color: var(--orange-color);
  text-align: start;
  font-size: 1rem;
  width: 20%;
}

footer img {
  width: 35%;
  height: 40px;
}

.services img {
  width: 40px;
  height: 40px;
}

footer p {
  font-size: 13px;
  color: var(--bl-color);
  margin-left: 10px;
  font-weight: bold;
}

.services p {
  width: 60%;
  color: var(--gery-color);
  font-size: 0.8rem;
}

.join_link {
  margin: 20px auto;
  width: 75%;
  height: 70px;
  color: var(--main-bg-color);
  background-color: var(--orange-color);
  outline: none;
  border: none;
  font-size: 16px;
  transition: all 0.4s ease-out;
}

.join_link:hover {
  color: var(--orange-color);
  background-color: var(--gery-color);
  border: 2px solid var(--orange-color);
}

/* ------------------CLM3 FEATURES----------------- */

.clm3 {
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clm3-container {
  margin-top: 1.3rem;
  display: none;
  align-items: center;
}

.clm3-container:nth-child(-n+2) {
  display: flex;
}

.see-more {
  display: flex;
}

.teach-details {
  padding-left: 0.9rem;
}

.teach-details h3 {
  font-size: 16px;
  color: #272a31;
}

.teach-details h4 {
  font-size: 12px;
  color: var(--orange-color);
  font-style: italic;
  margin: 5px 0;
}

.teach-details p {
  font-size: 12px;
  color: #272a31;
  font-weight: bolder;
  margin-top: 10px;
}

.teacher_pic {
  width: fit-content;
  max-width: 85px;
  height: 85px;
  border: 3px solid var(--orange-color);
  border-radius: 50%;
  padding: 5px;
}

.see_more {
  order: 3;
  width: 100%;
  height: 60px;
  border: 1px solid #797979;
  background-color: var(--main-bg-color);
  font-size: 20px;
  text-align: center;
  margin: 2rem 0;
}

.see_more i {
  color: var(--orange-color);
  padding-left: 7px;
}

/* ------------CLM4----------------- */

.clm4 {
  background-color: var(--bl-color);
  color: var(--gery-color);
  text-align: center;
  padding-bottom: 2rem;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  margin-bottom: 2rem;
}

.partners li {
  display: flex;
  align-items: center;
  margin: 1rem 2rem;
  margin-top: 1.5rem;
}

.partners img {
  width: 100px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 100px;
}

/* -------------------------------Partners column------------------------- */

@media screen and (min-width: 768px) {
  body {
    width: 100%;
    max-width: 1400px;
  }

  header {
    height: 110px;
    box-shadow: 2px 0 10px #adadad;
    background-color: var(--main-bg-color);
  }

  nav {
    position: relative;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

  .top-nav {
    display: flex;
    height: 40px;
    background-color: var(--bl-color);
  }

  .top-nav ul {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    color: var(--gery-color);
  }

  .top-nav li {
    margin: 1.3rem 10px;
  }

  .top-nav a {
    color: var(--gery-color);
  }

  .toggle {
    display: none;
  }

  #logo {
    display: flex;
    align-items: center;
  }

  footer img {
    width: 200px;
    height: 60px;
    margin-right: 4rem;
  }

  #logo img {
    width: 50px;
    height: 50px;
  }

  .open-menu {
    display: none;
  }

  .menu-list {
    position: relative;
    height: 100%;
    width: 70%;
    background: rgba(39, 42, 49, 0);
    color: var(--bl-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translateX(0);
    transition: none;
    text-align: center;
  }

  .menu-list ul {
    display: flex;
    justify-content: space-around;
  }

  .menu-list li,
  .menu-list a {
    color: rgb(15, 15, 15);
    font-size: 16px;
    transition: all 0.2s ease-out;
  }

  .menu-list a:hover {
    transform: scale(1.2);
    border-bottom: none;
    color: var(--orange-color);
  }

  .menu-btn {
    margin-top: 0;
    width: 150px;
    height: 48px;
    border: 4px solid var(--orange-color);
    font-size: 18px;
  }

  /* ---------------------clm-1---------- */

  .clm1 {
    padding: 8rem 9rem;
    padding-top: 8rem;
  }

  .clm1 h2 {
    width: 500px;
  }

  #first-title {
    font-size: 30px;
  }

  #scd-title {
    font-size: 52px;
  }

  #description {
    width: 650px;
  }

  /* ------------------CLM2----------- */

  .cards {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  .services {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 160px;
    height: 180px;
    margin: 0.2rem;
    text-align: center;
  }

  .services:hover {
    border: 3px solid var(--main-bg-color);
  }

  .services h4 {
    text-align: center;
    width: 100%;
  }

  .services p {
    width: 100%;
  }

  .join_link {
    background-color: #d3d3d300;
    width: fit-content;
    margin-top: 4rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid var(--main-bg-color);
    color: var(--main-bg-color);
  }

  .join_link:hover {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid var(--orange-color);
  }

  /* --------------------clm3 features--------------- */

  .clm3 {
    padding-bottom: 4rem;
  }

  .clm3-container {
    display: flex;
  }

  .teachers-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    width: 65%;
    margin: 0 auto;
  }

  .see_more {
    display: none;
  }

  .partners {
    width: 40%;
    margin: 2rem auto;
    flex-wrap: nowrap;
  }

  .partners li {
    margin: 1rem 2rem;
    margin-top: 1.5rem;
  }

  footer {
    justify-content: center;
    align-items: center;
  }
}
