@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

:root{
  --main-bg-color: #fafafa;
  --bl-color: #272a31;
  --orange-color: #ec5242;
  --gery-color: #d3d3d3;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  background-color: var(--main-bg-color);
  background: linear-gradient(0deg, rgb(243, 243, 243) 80%, rgba(235, 235, 235, 0.432) 100%),
              url('./images/teach-class-bg.jpg') no-repeat top / cover;
}

nav {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.top-nav {
  display: none;
}

.toggle {
  display: block;
  font-size: 30px;
  color: var(--bl-color);
  z-index: 10;
  padding: 1.2rem;
  width: 100%;
}

.open-icon {
  display: block;
  left: 1rem;
}

.close-icon {
  display: none;
}

.open-menu .open-icon {
  display: none;
}

.open-menu .close-icon {
  display: block;
  color: var(--main-bg-color);
}

.menu-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding: 2rem;
  background: rgb(39,42,49);
  background: linear-gradient(0deg, rgba(39,42,49,1) 0%, rgba(172,168,168,1) 100%);
  color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 1.5s;
  text-align: center;
}

.menu-list li,
.menu-list a {
  list-style-type: none;
  text-decoration: none;
  color: var(--main-bg-color);
  font-size: 24px;
  transition: all 0.4s ease-out;
}

.menu-list li {
  margin: 1rem;
}

.menu-list a {
  transition: all 0.4s ease-out;
}

.menu-btn {
  margin-top: 2rem;
  width: 170px;
  height: 60px;
  border: 3px solid var(--orange-color);
  background: none;
  color: var(--orange-color);
  font-size: 20px;
  transition: all 0.4s ease-out;
}

.menu-list a:hover {
  transform: scale(1.2);
  border-bottom: 2px solid var(--gery-color);
}

.menu-btn:hover {
  transform: scale(1.1);
}

.open-menu .menu-list {
  transform: translateX(0);
  z-index: 5;
}

#logo {
  display: none;
}

/*-------------first section*---------------*/

.clm1 {
  height: 100%;
  color: var(--bl-color);
  padding: 2rem 1rem;
}

#first-title {
  color: var(--orange-color);
  font-size: 24px;
  margin-bottom: 7px;
}

#scd-title {
  color: var(--orange-color);
  font-size: 42px;
  text-transform: uppercase;
  font-weight: bolder;
}

#scd-title,
#first-title {
  background: url(./images/woman-teaches.jpg);
  background-size: cover;
  -webkit-text-fill-color: #fd412caf;
  -webkit-background-clip: text;
}

#description {
  border: 1px solid #fff;
  background-color: #f3f3f3;
  padding: 15px;
  margin: 1.7rem 0;
}

.clm1 h3 {
  font-size: 32px;
}

/*----------------------CLM2--------------*/

.clm2 {
  background-color: var( --bl-color);
  color: var(--main-bg-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  padding: 1.5rem;
  margin-bottom: 20px;
}

.section-title::after {
  position: absolute;
  content: '';
  height: 3px;
  left: 50%;
  margin-top: 50px;
  width: 60px;
  transform: translate(-50%, 50%);
  background-color:  var(--orange-color);
}

.services {
  width: 100%;
  background-color: rgba(226, 226, 226, 0.151);
  margin: 1rem 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services h4 {
  color: var(--orange-color);
  text-align: start;
  font-size: 1rem;
  width: 20%;
}

.services img {
  width: 40px;
  height: 40px;
}

.services p {
  width: 60%;
  color: var(--gery-color);
  font-size: 0.8rem;
}

.join_link {
  margin: 20px auto;
  width: 75%;
  height: 70px;
  color: var(--main-bg-color);
  background-color: var(--orange-color);
  outline: none;
  border: none;
  font-size: 16px;
  transition: all 0.4s ease-out;
}

.join_link:hover {
  color: var(--orange-color);
  background-color: var(--gery-color);
  border: 2px solid var(--orange-color);
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
    max-width: 1400px;
  }

  header {
    height: 110px;
    box-shadow: 2px 0px 10px #adadad;
    background-color: var(--main-bg-color);
  }

  nav {
    width: 100%;
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

  .top-nav {
    display: flex;
    height: 40px;
    background-color: var(--bl-color);
  }

  .top-nav ul {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    color: var(--gery-color);
  }

  .top-nav li {
    margin: 1.3rem 10px;
  }

  .top-nav a {
    color: var(--gery-color);
  }

  .toggle {
    display: none;
  }

  #logo {
    display: flex;
    align-items: center;
  }

  #logo img{
    width: 50px;
    height: 50px;
  }

  .open-menu {
    display: none;
  }

  .menu-list {
    position: relative;
    height: 100%;
    width: 70%;
    background: rgba(39, 42, 49, 0);
    background: linear-gradient(0);
    color: var(--bl-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translateX(0);
    transition: 0;
    text-align: center;
  }
  .menu-list ul {
    display: flex;
    justify-content: space-around;
  }

  .menu-list li,
  .menu-list a {
    color: rgb(15, 15, 15);
    font-size: 16px;
    transition: all 0.2s ease-out;
  }

  .menu-list a:hover {
    transform: scale(1.2);
    border-bottom: none;
    color: var(--orange-color);
  }

  .menu-btn {
    margin-top: 0;
    width: 150px;
    height: 48px;
    border: 4px solid var(--orange-color);
    font-size: 18px;
  }

  /*---------------------clm-1----------*/

  .clm1 {
    padding: 8rem 9rem;
    padding-top: 8rem;
  }

  .clm1 h2 {
    width: 500px;
  }

  #first-title {
    font-size: 30px;
  }
  
  #scd-title {
    font-size: 52px;
  }

  #description {
    width: 650px;
  }

  /*------------------CLM2-----------*/
  .cards {
    display: flex;
    flex-direction: center;
    margin: 0 auto;
  }

  .services {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 160px;
    height: 180px;
    margin: 0.2rem;
    text-align: center;
  }

  .services:hover {
    border: 3px solid var(--main-bg-color);
  }

  .services h4 {
    text-align: center;
    width: 100%;
  }

  .services p {
    width: 100%;
  }

  .join_link {
    background-color: #d3d3d300;
    width: fit-content;
    height: fit-content;
    margin-top: 4rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid var(--main-bg-color);
    color: var(--main-bg-color);
  }

  .join_link:hover {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid var(--orange-color);
  }
}